$color-theme: #795BF1;
$color-grey-very-light: #F2EFFE;
$color-black: #464255;
$color-jack-black: #000000;
$color-light-black: #767676;
$color-dark-black: #111111;
$color-grey-light: #B3B3B3;
$color-grey-lighter: #B9BBBD;
$color-grey-mid: #A3A3A3;
$color-grey-darker: #959595;
$color-main-bg: #F3F2F7;
$color-grey-dark: #ECECEE;
$color-border-table: #EEEEEE;
$color-green: #03C977;
$color-green-light: rgba(3, 201, 119, 0.10);
$color-red: #FF5B5B;
$color-theme-red: #FF4365;
$color-purple-light: rgba(171, 84, 219, 0.15);
$color-orange: #FFB45C;
$color-warn: #FFBB54;
$color-orange-light: rgba(255, 180, 92, 0.10);
$btn-bg-gray: #E0E0E0;
$crd-color-white: #FDFDFD;
$color-plain-white: #fff;
$crd-border-gray: #EDEDED;
$color-shadow-gray: #E6E6E8;
$color-light-gray: #F8F8F8;
$color-pink: #FF4365;
$color-light-pink: #f8dbe0;
$border-radius-theme: 16px;
$action-scale: 55px;
$wrapper-space-top: 25px;
$section-space-top: 20px;
$card-container-padding: 25px 20px;