@media (min-width: 280px) and (max-width: 575px) {
    .richText {
        font-size: 12px;
    }
    .text-editor-continer {
        margin-bottom: 20px;
    }
    .header-left-back {
        text-align: center;
    }
    .timeline-container {
        margin-top: 15px;
    }
    .w-100 {
        width: 100% !important;
        margin-right: 0px;
    }
    .wrapper-space-top {
        // margin-top: 0px;
    }
    .time-line-object {
        ul {
            li {
                &::before {
                    margin-left: -29px !important;
                }
            }
        }
    }
    ul li::before .position-block {
        display: block;
        text-align: center;
        justify-content: center;
    }
    .dropdown-select-value {
        display: none !important;
    }
    .radio-section-label {
        .card {
            // margin-left: 15px !important;
        }
    }
    .admin-posts {
        text-align: center;
        margin-bottom: 20px;
        h2.h2 {
            font-size: 24px;
        }
    }
    .main-right-container {
        // padding: 15px;
    }
    .align-items-center {
        padding: 10px;
        &.align-items--xs {
            text-align: left !important;
        }
    }
    .header-right {
        ul {
            flex-direction: row;
            justify-content: center;
            flex-wrap: wrap;
            li {
                &:first-of-type {
                    margin-bottom: 15px;
                }
                &:nth-child(2) {}
                .search-input {
                    &::after {
                        top: 10px !important;
                        width: 23.5px;
                        height: 27.5px;
                    }
                    input {
                        height: 48px;
                        font-size: 13px;
                        width: 100%;
                    }
                }
            }
        }
    }
    .header-right-lg {
        ul {
            align-items: center;
            // flex-direction: column;
            li {
                &:nth-child(2) {
                    margin: 0px;
                }
            }
        }
    }
    .card {
        .card-container {
            margin-bottom: 20px;
            padding: 20px 15px;
            .card-inner__top {
                height: 46px;
            }
            .card-inner__bottom {
                &.chart-card-div {
                    // flex-direction: column;
                    // height: 70px;
                }
            }
            .section-header {
                align-items: center;
                flex-direction: column;
                &.section-lessons-md {
                    .header-tabs--sm {
                        ul {
                            &.theme-tabs {
                                margin-top: 10px;
                                li {
                                    &.theme-tab-item {
                                        margin-right: 0px;
                                        margin-bottom: 10px;
                                    }
                                }
                            }
                        }
                    }
                }
                &.section-education-part {
                    justify-content: flex-start !important;
                    align-items: flex-start !important;
                    padding-left: 20px !important;
                }
            }
        }
    }
    .section-header-sm {
        flex-direction: row !important;
        .section-header__controls {
            margin-top: 0px;
        }
        &.paid-header {
            flex-direction: column !important;
            .section-header__controls {
                margin-top: 15px;
            }
        }
    }
    #dashboard-earning-bar-chart-wrapper {
        margin: 0px 0px;
    }
    .header-left {
        // text-align: center;
        margin-bottom: 20px;
        .date-picker-input {
             ::after {
                // right: 55px;
                top: 4px;
            }
            input {
                font-size: 20px;
                position: initial;
            }
        }
    }
    .timeline-container__content {
        ul {
            justify-content: center;
            li {
                padding-bottom: 15px;
                &::before {
                    width: 12px;
                    height: 12px;
                    margin-left: -25px !important;
                }
                &:not(:last-child) {
                    &::after {
                        margin-left: -20px;
                    }
                }
            }
        }
    }
    .header-right ul li {
        .icon-button {
            // width: $action-scale/2;
            // height: $action-scale/2;
            // line-height: $action-scale/2.1;
            border-radius: 10px;
            width: 45px;
            height: 45px;
            line-height: 42px;
            img {
                // width: $action-scale/4;
                // height: $action-scale/4;
                width: 20.5px;
                height: 20.5px;
            }
            span.count {
                top: -2px;
                font-size: 11.09524px;
                width: 20px;
                height: 20px;
                line-height: 23px;
            }
        }
        .user-button {
            img {
                // max-width: $action-scale/2;
                max-width: 45px;
                max-height: 45px;
                border-radius: 10px;
            }
        }
    }
    .home-card-last {
        margin-top: 20px !important;
    }
    .tab-head-container ul.theme-tabs {
        justify-content: center;
    }
    .nice-select {
        text-align: left !important;
    }
    .home-card-last {
        &.state-card--list {
            &.table-theme--orange {
                margin-right: 10px;
            }
            ul {
                li {
                    display: block;
                    .card-inner__icon {
                        text-align: center;
                        img {
                            vertical-align: unset;
                            width: 30px;
                            height: 55px;
                        }
                    }
                    .card-inner--right {
                        margin-left: 0px;
                        text-align: center;
                        .card-inner__bottom {
                            text-align: center;
                            display: block;
                            h2.h2 {
                                font-size: 20px;
                            }
                        }
                        .card-inner__top {
                            height: 25px;
                        }
                    }
                }
            }
        }
    }
    .states-nice-select {
        .nice-select {
            width: 100% !important;
        }
    }
    .button-group .btn__theme {
        font-size: 12px;
    }
    .card-earning-md {
        margin-top: -5px !important;
        width: 90%;
    }
}

@media (min-width: 576px) and (max-width: 767px) {
    .w-100 {
        width: 50%!important;
        margin-right: 20px;
    }
    .header-right {
        ul {
            li {
                .search-input {
                    &::after {
                        top: 11px;
                    }
                }
            }
        }
    }
    .header-right-lg {
        margin-top: 15px;
        ul {
            align-items: center;
            justify-content: center;
        }
    }
    .time-line-object {
        ul {
            li {
                &::before {
                    margin-left: -29px !important;
                }
            }
        }
    }
    .admin-posts {
        text-align: center;
        margin-bottom: 20px;
    }
    .main-right-container {
        padding: 10px;
    }
    .align-items-center {
        padding: 10px;
    }
    .header-right {
        ul {
            flex-direction: row;
            // justify-content: center;
            flex-wrap: wrap;
            li {
                &:first-of-type {
                    // margin-bottom: 15px;
                }
                &:nth-child(2) {
                    // margin: 0;
                }
                .search-input {
                    input {
                        width: 100%;
                        height: 50px;
                        font-size: 14px;
                    }
                }
            }
        }
    }
    .section-header {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        &.section-lessons-md {
            flex-direction: column;
            display: block;
            .header-tabs--sm {
                ul {
                    &.theme-tabs {
                        margin-top: 10px;
                        li {
                            &.theme-tab-item {
                                margin-right: 0px;
                            }
                        }
                    }
                }
            }
            // &.section-state-md {
            //     flex-direction: row;
            //     display: flex;
            // }
        }
        &.section-education-part {
            justify-content: flex-start !important;
            align-items: flex-start !important;
            padding-left: 20px !important;
        }
    }
    .section-header-sm {
        flex-direction: row;
    }
    .card {
        .card-container {
            margin-bottom: 20px;
            padding: 20px 15px;
            .card-inner__bottom {
                &.chart-card-div {
                    // flex-direction: column;
                    // height: 70px;
                }
            }
            .section-header {
                align-items: center;
                flex-direction: column;
                &.section-header-sm {
                    flex-direction: row;
                }
            }
            &.home-card-section {
                .section-header-sm {
                    justify-content: left;
                }
            }
        }
    }
    #dashboard-earning-bar-chart-wrapper {
        margin: 0px 0px;
    }
    .header-left {
        // text-align: center;
        // margin-bottom: 10px;
        padding-left: 0px;
        .date-picker-input {
             ::after {
                right: 53px;
                top: 4px;
            }
            input {
                font-size: 18px;
            }
        }
    }
    .timeline-container__content {
        ul {
            li {
                padding-bottom: 15px;
                &::before {
                    width: 12px;
                    height: 12px;
                }
                &:not(:last-child) {
                    &::after {
                        left: -20px;
                        margin-left: -24px;
                    }
                }
            }
        }
    }
    .nice-select {
        text-align: left !important;
    }
    .home-card-last {
        &.state-card--list {
            padding: 15px 10px;
            &.table-theme--orange {
                margin-right: 10px;
            }
            ul {
                li {
                    .card-inner__icon {
                        img {
                            vertical-align: unset;
                            width: 28px;
                            height: 53px;
                        }
                    }
                    .card-inner--right {
                        margin-left: 10px;
                        .card-inner__bottom {
                            h2.h2 {
                                font-size: 20px;
                            }
                        }
                    }
                }
            }
        }
    }
    .states-nice-select {
        .nice-select {
            width: 100% !important;
        }
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .section-title-head {
        flex-direction: column !important;
        .section-header__title {
            text-align: center;
        }
        .section-header__controls {
            margin-top: 20px;
        }
        &.section-header-xs {
            flex-direction: row !important;
        }
    }
    .wrapper-space-top {
        // margin-top: 0px;
    }
    .section-header-sm {
        flex-direction: column;
        .tab-head-container ul.theme-tabs {
            justify-content: center;
        }
        .section-header__controls {
            align-items: center;
            margin-top: 15px;
        }
    }
    .header-right-sm ul {
        justify-content: center;
        margin-top: 15px;
    }
    .header-right {
        ul {
            li {
                .search-input {
                    input {
                        width: 100%;
                    }
                }
            }
        }
    }
    .header-right-lg {
        margin-top: 15px;
    }
    .header-left-lg {
        text-align: center;
    }
    .card {
        .card-container {
            margin-bottom: 15px;
        }
    }
    .main-right-container {
        // padding: 10px;
    }
    .header-left {
        .date-picker-input {
            input {
                font-size: 22px;
            }
            &::after {
                right: 30px;
                top: 7px;
            }
        }
    }
    .date-picker-input {
        margin-bottom: 20px;
    }
    .section-lessons-md {
        flex-direction: column;
        .section-header__title {
            text-align: left;
        }
        .header-tabs--sm {
            ul {
                &.theme-tabs {
                    margin-top: 10px;
                    li {
                        &.theme-tab-item {
                            margin-right: 0px;
                        }
                    }
                }
            }
        }
    }
    .home-card-last {
        margin-top: 20px !important;
        &.state-card--list {
            margin: 10px 13px;
            min-height: 110px !important;
            &.table-theme--orange {
                margin-right: 10px;
            }
            ul {
                li {
                    display: inline-block;
                    .card-inner__icon {
                        img {
                            vertical-align: unset;
                            width: 28px;
                            height: 53px;
                        }
                    }
                    .card-inner--right {
                        margin-left: 10px;
                        .card-inner__top {
                            margin-bottom: 10px;
                            height: 0px;
                        }
                        .card-inner__bottom {
                            h2.h2 {
                                font-size: 24px;
                            }
                        }
                    }
                }
            }
        }
    }
    .states-nice-select {
        .nice-select {
            width: 100% !important;
        }
    }
    .section-education-part {
        justify-content: flex-start;
        align-items: flex-start;
        padding-left: 20px !important;
    }
}

@media (min-width: 992px) and (max-width: 1199px) {
    .admin-posts {
        h2.h2 {
            font-size: 28px;
        }
        h4.h4 {
            font-size: 12px;
        }
    }
    .header-right {
        ul {
            li {
                .search-input {
                    input {
                        width: 100%;
                    }
                }
            }
        }
    }
    .header-right-lg {
        margin-top: 15px;
    }
    .section-header__controls ul {
        .nice-select {
            min-width: 260px;
        }
    }
    .wrapper-space-top {
        // margin-top: 0px;
    }
    .card {
        .card-container {
            margin-bottom: 15px;
        }
    }
    .section-lessons-md {
        .header-tabs--sm {
            ul {
                &.theme-tabs {
                    li {
                        &.theme-tab-item {
                            margin-right: 0px;
                        }
                    }
                }
            }
        }
    }
}


/*//////////  extra queries  ///////*/

@media (min-width: 300px) and (max-width: 465px) {
    .section-header-xs {
        flex-direction: column !important;
        .header-left--sm {
            margin-bottom: 10px;
        }
    }
    .align-items--xs {
        flex-direction: column !important;
    }
    .richText .richText-toolbar ul {
        flex-wrap: wrap;
    }
    .header-column--xs {
        max-width: 100%;
    }
}

@media (min-width: 1200px) and (max-width: 1300px) {
    .section-header__controls ul {
        .nice-select {
            min-width: 260px;
        }
    }
}

@media (min-width: 1200px) and (max-width: 1360px) {
    .section-lessons-md {
        flex-direction: column;
        .header-tabs--sm {
            ul {
                &.theme-tabs {
                    margin-top: 10px;
                    li {
                        &.theme-tab-item {
                            margin-right: 0px;
                        }
                    }
                }
            }
        }
    }
}

@media (min-width: 1110px) and (max-width: 1299px) {
    .tabs-bar__md {
        flex-direction: row !important;
        justify-content: space-between !important;
        width: 100%;
        align-items: flex-start !important;
        .tab-head-container {
            margin-top: 0px !important;
        }
        .section-header__controls {
            margin-top: 10px;
        }
    }
}

@media (min-width: 993px) and (max-width: 1199px) {
    .home-card-last {
        margin-top: 20px !important;
        &.state-card--list {
            margin: 10px 13px;
            min-height: 110px !important;
            &.table-theme--orange {
                margin-right: 10px;
            }
            ul {
                li {
                    display: inline-block;
                    .card-inner__icon {
                        img {
                            vertical-align: unset;
                            width: 28px;
                            height: 53px;
                        }
                    }
                    .card-inner--right {
                        margin-left: 10px;
                        .card-inner__top {
                            margin-bottom: 10px;
                            height: 0px;
                        }
                        .card-inner__bottom {
                            h2.h2 {
                                font-size: 24px;
                            }
                        }
                    }
                }
            }
        }
    }
}

@media (min-width: 1200px) and (max-width: 1280px) {
    .home-card-last {
        margin-top: 20px !important;
        &.state-card--list {
            margin: 10px 13px;
            min-height: 110px !important;
            &.table-theme--orange {
                margin-right: 10px;
            }
            ul {
                li {
                    display: inline-block;
                    .card-inner__icon {
                        img {
                            vertical-align: unset;
                            width: 28px;
                            height: 53px;
                        }
                    }
                    .card-inner--right {
                        margin-left: 1px;
                        .card-inner__top {
                            margin-bottom: 10px;
                            height: 0px;
                        }
                        .card-inner__bottom {
                            h2.h2 {
                                font-size: 24px;
                            }
                        }
                    }
                }
            }
        }
    }
}